

button.Button {
  --color-primary: #001b3a;
  --color-secondary: var(--black-color);
  --color-brand-hover: rgb(50, 196, 128);
  --color-brand-pressed: rgb(46, 183, 120);
  --color-focus-outlined: rgb(23, 203, 133);
  font-weight: bolder;
}

.Button.Button--contained-secondary {
  background-color: var(--white-color);
  color: var(--brand-color);
}

.Button.Button--contained-secondary:hover {
  background-color: rgba(255, 255, 255, 0.94);
}

.Button.Button--variant-outlined.Button--outlined-secondary {
  background-color: transparent;
  color: var(--black-color);
  border-color: var(--black-color);
}

.Button.Button--variant-outlined.Button--outlined-secondary:hover {
  border-color: var(--black-color);
}

.Button.Button--contained-primary {
  background-color: var(--brand-color);
  color: var(--color-secondary);
  box-shadow: none;
  letter-spacing: 1.25px;
}

.Button.Button--contained-primary:hover {
  background-color: var(--brand-color);
  box-shadow: none;
}

.Button.Button--contained-primary.Button--disabled {
  color: var(--gray-color-38);
  background-color: var(--gray-color-04);
}

.Button.Button--contained-primary:hover .MuiTouchRipple-root {
  background-color: var(--gray-color-04);
}

.Button .MuiTouchRipple-rippleVisible {
  opacity: 0.25;
  background-color: #15b577;
}

.Button .MuiTouchRipple-child {
  opacity: 0.25;
}

.Button.Button--variant-text {
  color: var(--color-primary);
}

.Button--variant-text:hover {
  background-color: var(--brand-color-4);
}

.Button.Button--variant-text.Button--disabled {
  color: var(--gray-color-38);
}

.Button.Button--variant-outlined {
  color: var(--color-secondary);
  border: solid 1px var(--black-color);
}

.Button.Button--variant-outlined:hover {
  background-color: var(--brand-color-4);
}

.Button.Button--variant-outlined:focus {
  background-color: var(--brand-color-12);
  box-shadow: 0 0 0 2px var(--color-focus-outlined);
}

.Button.Button--variant-outlined.Button--disabled {
  color: var(--gray-color-38);
}
