button.Button {
  font-weight: bolder;

  &.Button--contained-secondary {
    background-color: var(--white-color);
    color: var(--brand-color);

    &:hover {
      background-color: rgba(255, 255, 0, 0.94);
    }
  }

  &--outlined-secondary {
    &.Button--variant-outlined {
      background-color: transparent;
      color: var(--black-color);
      border-color: var(--black-color);

      &:hover {
        border-color: var(--black-color);
      }
    }
  }

  &--contained-primary {
    background-color: var(--brand-color);
    color: var(--color-secondary);
    box-shadow: none;
    letter-spacing: 1.25px;

    &:hover {
      background-color: var(--brand-color);
      box-shadow: none;
    }

    &.Button--disabled {
      color: var(--gray-color-38);
      background-color: var(--gray-color-04);
    }
  }

  .MuiTouchRipple-rippleVisible {
    opacity: 0.25;
    background-color: #15b577;
  }

  &--variant-text {
    color: var(--color-primary);

    &:hover {
      background-color: var(--brand-color-4);
    }

    &.Button--disabled {
      color: var(--gray-color-38);
    }
  }

  &--variant-outlined {
    color: var(--color-secondary);
    border: solid 1px var(--black-color);

    &:hover {
      background-color: var(--brand-color-4);
    }

    &:focus {
      background-color: var(--brand-color-12);
      box-shadow: 0 0 0 2px var(--color-focus-outlined);
    }

    &.Button--disabled {
      color: var(--gray-color-38);
    }
  }
}
